<container>
<table>
  <thead>
    <tr>
      <th><h1>Marketo Toolkit</h1></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Campaign Tracker', campaigns_path %> | <%= link_to 'UTM Builder', utmbuilder_utmbuilder_path %> | <%= link_to 'Comms Calendar', calendar_calendar_path %></td>
      </tr>
  </tbody>
</table>
</container>